
profiles {

   local {
      docker.enabled = false
      singularity.enabled = true

   }

   standard {
       trace.enabled = true
   }

   cluster {
       docker.enabled = false
       singularity.enabled = true
       process.executor = 'slurm'
       process.containerOptions = '-B /mnt/gluster:/mnt/gluster'
   }
}

